.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2%;
  height: fit-content;
  /* background-color: beige; */
}

.logo-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: fit-content;
}

.menu,
.buttons {
  display: flex;
  gap: 50px;
  align-items: center;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: contents;
}

li {
  font-size: 1.1em;
  font-weight: 500;
  color: #384179;
}

.logoname {
  font-size: 30px;
  font-weight: bold;
  color: #384179;
}

.login_btn {
  color: #0a65fc;
  border: none;
  font-size: 18px;
  font-weight: 700;
  background-color: white;
  cursor: pointer;
}
.login_btn:hover {
  color: black;
}
.signup_btn {
  background-color: #0a65fc;
  color: white;
  border: none;
  font-weight: 700;
  cursor: pointer;

  border-radius: 5px;
  font-size: 16px;
  padding: 15px 30px;
}

.signup_btn:hover {
  background-color: #2277ff;
}
